.glance--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: solid $border-radius $border-color;
  &:first-child {
  }
  &:last-child {
  }
  p {
    &:first-child {
      font-size: clamp(#{$font-size-100}, 4vw, #{$font-size-200});
      color: $color-200;
      font-family: "Spartan", sans-serif;
      text-transform: uppercase;
    }
    &:last-child {
      font-size: clamp(#{$font-size-400}, 4vw, #{$font-size-700});
    }
  }
}
