nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid $border-radius $border-color;

  h2 {
    font-size: $font-size-500;
  }

  button {
    border: none;
    background: none;
    font-size: clamp(#{$font-size-100}, 4vw, #{$font-size-200});
    font-family: "Spartan", sans-serif;
    font-weight: bold;
    color: $color-200;
    text-transform: uppercase;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
  .active {
    color: $color-100;
  }
}

@media only screen and (max-width: 900px) {
  nav {
    flex-direction: column;
  }
}
