@import "./typography.scss";
@import "./colors.scss";
@import "./spaces.scss";

$border-radius: 1px;
$border-color: $color-300;

* {
  font-family: "Antonio", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: $color-400;
  background-image: url("~@/assets/images/background-stars.svg");
}

button {
  cursor: pointer;
}

h2,
h3 {
  color: $color-100;
}

h2 {
  font-size: $font-size-500;
}

h3 {
  font-size: clamp(#{$font-size-700}, 5vw, #{$font-size-900});
}

.main-app--container {
  margin: clamp(#{$space-500}, 30vw, #{$space-700});
}

@media only screen and (max-width: 768px) {
  .main-app--container {
    margin: clamp(#{$space-600}, 30vw, #{$space-600});
  }
}

@media only screen and (max-width: 375px) {
  .main-app--container {
    margin: clamp(#{$space-200}, 10vw, #{$space-400});
  }
}
