@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;400&family=Spartan:wght@100;200;400&display=swap");

$font-size-100: 0.5rem;
$font-size-200: 0.688rem;
$font-size-300: 0.875rem;
$font-size-400: 1.25rem;
$font-size-450: 1.5rem;
$font-size-500: 1.75rem;
$font-size-700: 2.5rem;
$font-size-800: 3rem;
$font-size-900: 5rem;
